@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	background-color: #202142;
	color: #fff;
	line-height: 1.6;
}

a {
	text-decoration: none;
	display: block;
	color: #000000;
}

@layer base {
	.bred {
		border: 1px solid rgba(255, 0, 0, 0.4);
	}
}

@layer components {
	.input {
		box-shadow: rgba(0, 0, 0, 0.11);
		border: none;
		background: #fff;
		color: #000;
		border-radius: 0.25rem;
		height: 3rem;
		width: 100%;
		outline: none;
		padding: 0 3rem;
		font-size: 1rem;
		margin: 1rem 0;
	}

	.loadingSpinnerContainer {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.2);
		z-index: 5000;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.loadingSpinner {
		width: 64px;
		height: 64px;
		border: 8px solid;
		border-color: #000 transparent #555 transparent;
		border-radius: 50%;
		animation: spin 1.2s linear infinite;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

/*  {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


ul {
	list-style: none;
}

button {
	outline: none;
	border: none;
}

a {
	text-decoration: none;
	display: block;
	color: #000000;
}

.container {
	max-width: 768px;
	margin: auto;
	padding: 0 20px;
}

header {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
} */
